<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lixin.campusforum.forum.dao.CommentDao">

    <insert id="insert">
        insert into comment(comment_id, author_id, content, topic_id, reply_id, reply_author, create_time)
            value (#{commentId}, #{authorId}, #{content}, #{topicId}, #{replyId}, #{replyAuthor}, #{createTime})
    </insert>

    <delete id="delete">
        delete
        from comment
        where comment_id = #{commentId}
           or reply_id = #{commentId}
    </delete>

    <select id="exists" resultType="java.lang.Integer">
        select count(*)
        from comment
        where comment_id = #{commentId}
    </select>

    <select id="list" resultType="com.lixin.campusforum.forum.model.bo.CommentBo">
        select comment_id,
               author_id,
               username as author,
               content,
               topic_id,
               reply_id,
               reply_author,
               create_time
        from comment
                 inner join user on user.uuid = comment.author_id
        where topic_id = #{topicId}
        limit #{offset}, #{rows}
    </select>

    <select id="one" resultType="com.lixin.campusforum.forum.model.bo.CommentBo">
        select comment_id, author_id, username as author, content, topic_id, reply_id, create_time
        from comment
                 inner join user on user.uuid = comment.author_id
        where comment_id = #{commentId}
    </select>

    <select id="count" resultType="java.lang.Integer">
        select count(*)
        from comment
        where topic_id = #{topicId};
    </select>


</mapper>