<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lixin.campusforum.dao.CommentDao">

    <insert id="insert">
        insert into comment(comment_id, author_id, content, topic_id, reply_comment_id, reply_comment_author,
                            create_time, modify_time)
            value (#{commentId}, #{authorId}, #{content}, #{topicId}, #{replyCommentId}, #{replyCommentAuthor},
                   #{createTime}, #{modifyTime})
    </insert>

    <delete id="delete">
        delete
        from comment
        where comment_id = #{commentId}
          and author_id = #{userId}
    </delete>
    <delete id="deleteByTopicId">
        delete
        from comment
        where topic_id = #{topicId}
    </delete>

    <select id="exists" resultType="java.lang.Integer">
        select count(*)
        from comment
        where comment_id = #{commentId}
    </select>

    <select id="list" resultType="com.lixin.campusforum.model.bo.CommentBo">
        select comment_id,
               author_id,
               username as author,
               ui.face  as face,
               content,
               topic_id,
               reply_comment_id,
               reply_comment_author,
               c.create_time,
               c.modify_time
        from comment c
                 inner join user_registration ur on ur.user_id = c.author_id
                 inner join user_info ui on ur.user_id = ui.user_id
        where topic_id = #{topicId}
    </select>

    <select id="one" resultType="com.lixin.campusforum.model.bo.CommentBo">
        select comment_id,
               author_id,
               username as author,
               ui.face  as face,
               content,
               topic_id,
               reply_comment_id,
               reply_comment_author,
               c.create_time,
               c.modify_time
        from comment c
                 inner join user_registration ur on ur.user_id = c.author_id
                 inner join user_info ui on ur.user_id = ui.user_id
        where comment_id = #{commentId}
    </select>

    <select id="count" resultType="java.lang.Integer">
        select count(*)
        from comment
        where topic_id = #{topicId};
    </select>


</mapper>